$height: 32px;

$font-size: 14px;
$color: #333;
$color-active: #1890ff;
$color-disabled: #ddd;
$color-error: #f1453d;

$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-color-disabled: #666;
$border-color-hover: #666;
$border-color-active: #1890ff;
$border-color-active-light: lighten($border-color-active, 40%);
$border-radius: 4px;

$bg: #fff;
$bg-disabled: #eee;
$bg-title: #eee;
$bg-active: #1890ff;
$bg-active-light: #eee;
$btn-bg: #fff;
$btn-active-bg: #eee;
$btn-disabled-bg: #ccc;
$btn-hover-bg: #fff;

$box-shadow-color: rgba(0, 0, 0, 0.5);
$box-shadow-color-error: rgba(255, 0, 0, 0.5);
